.homepage {
    & h1 {
        font-family: 'Inter';
        font-size: 72px;
        color: white;
    }

    & h2 {
        font-family: 'Inter';
        font-size: 48px;
        color: white;
    }
}

.landing {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 0 100px;

    background: linear-gradient(-45deg, darkgray, rgb(15, 25, 34), #2a4054, #4689c7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    &__title-wrapper {
        text-align: center;
        margin-bottom: 50px;

        max-width: 750px;

        &__button {
            margin-top: 50px;
            background: transparent;
        }
    }

    &__image-wrapper {
        width: 500px;
        height: 500px;

        background-image: url(../../../public/avatar.jpg);
        background-size: cover;
        border-radius: 25px;
    }
}

// ----- SKILLS ------

.skills {
    background: rgb(15, 25, 34);
    height: auto;

    padding: 50px 300px;

    &__row {
        background: #2a4054;
        border-radius: 10px;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;

        padding: 30px 0;
    }

    & > p {
        margin-bottom: 50px;
    }

    &__card {
        background: transparent;
        width: 300px;
        height: 250px;
    }

    &__image-wrapper {
        width: 200px;
        height: 200px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 50px;

        & .others {
            user-select: none;
            cursor: pointer;
            font-size: 36px;
        }

        & img {
            height: 100%;
            cursor: pointer;
        }
    }
}

.skills-modal {
    & p {
        color: black;
        margin-bottom: 10px;
    }

    & h3 {
        color: black;
        font-weight: 600;
        margin-bottom: 10px;
    }

    & ul {
        margin-left: 30px;
    }

    & ul li{
        color: black;
    }
}

// ----- PORTFOLIO -----

.portfolio {
    background: rgb(15, 25, 34);
    height: auto;

    padding: 50px 300px;

    & h2 {
        margin-bottom: 50px;
    }

    &__carousel {
        border-radius: 10px;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        overflow: hidden;

        position: relative;
    }

    &__arrow {
        position: absolute;
        font-size: 72px;
        top: 45%;
        cursor: pointer;

        color: white;

        transition: all 0.2s ease-in-out;
    }

    &__arrow:hover {
        transform: scale(1.2);
        color: #1677ff !important;
    }
}

.contacts {
    background: rgb(15, 25, 34);
    width: 100%;
    height: auto;
    padding: 50px 300px;

    &__row {
        display: flex;
        justify-content: center;
    }

    & .section-title {
        margin-bottom: 30px;
    }

    & button {
        background: transparent;
    }

    &-card {
        width: 200px;
        height: 250px;

        background: #2a4054;

        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
        align-items: center;

        // box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        border-radius: 10px;

        color: white;

        margin-right: 30px;

        &__icon {
            font-size: 40px;
        }

        & .telegram {
            color: #1677ff;
        }

        & .whatsapp {
            color: rgb(4, 163, 4);
        }
    }
}

// FOR TABLETS

@media screen and (max-width: 1400px) {

    .homepage {
        & h1 {
            font-family: 'Inter';
            font-size: 60px;
            color: white;
        }
    
        & h2 {
            font-family: 'Inter';
            font-size: 36px;
            color: white;
        }
    }

    .section-title {
        margin-left: 70px;
    }

    .landing {
        padding-top: 100px;
        padding-bottom: 50px;
        flex-direction: column;

        &__image-wrapper {
            width: 400px;
            height: 400px;
        }

        &__title-wrapper {
            margin-top: 50px;
        }
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        padding: 0;

        &__row {
            width: 80%;
            align-self: center;
        }

        & > h2 {
            padding-top: 50px;
        }

        &__image-wrapper {
            height: 150px;
            width: 150px;
            overflow: hidden;

            & .others {
                font-size: 30px;
            }
        }
    }

    .portfolio {
        padding: 50px 0;
        display: flex;
        flex-direction: column;

        &__carousel-holder {
            width: 80%;
            align-self: center;
        }
    }

    .contacts {
        padding: 30px 0;
    }
}

// FOR PHONES 

@media screen and (max-width: 768px) {
    

    .skills {
        &__image-wrapper {
            height: 150px;
            width: 150px;
            margin: 0 0 50px 0;
        }
    }

    .contacts {
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    }
}